.containerAll {
  width: 1150px;
  margin: 0 auto;
  /*border: 1px solid red;*/
}

.container {
  max-width: 1140px;
  display: inline-flex;
  margin-bottom: 85px;
}

/*.red {*/
/*  border: 1px solid red;*/
/*}*/

.step1Title {
  font-size: 20px;
  margin-left: 20px;
}

:host /deep/ .btn-2 .btn-danger.large {
  background-color: #75bad3;
  border-color: #fafafa;
}

:host /deep/ .btn-3 .btn-danger.large {
  background-color: #78a240;
  border-color: #fafafa;
}

table {
  width: 1200px;
}

.table th {
  border-top: 0px;
}

tr {
  height: 68px;
  width: 1200px;
}

.car-title {
  color: #1c75bc;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #f1f2f2;
}

