<p class="step1Title">1. Step 1</p>
<div class="container">
  <div class="container">
    <app-car-card class="btn-1"></app-car-card>
    <app-car-card class="btn-2"></app-car-card>
    <app-car-card class="btn-3"></app-car-card>
  </div>

  <div class="container">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Popularity</th>
        <th></th>
      </tr>
      <tr *ngFor="let car of carsArray">
        <td class="car-title">{{car.title}}</td>
        <td>{{car.description}}</td>
        <td>{{car.price}}</td>
        <td>{{car.popularity}}</td>
        <td>
          <button>Select</button>
        </td>
      </tr>
    </table>
  </div>
</div>
